<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trustcircle.permissionmodule">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".PermissionActivity">

            <meta-data
                android:name="default-url"
                android:value="https://instant-app-demo.firebaseapp.com/main" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"/>
                <data
                    android:scheme="https"
                    android:host="instant-app-demo.firebaseapp.com"
                    android:pathPattern="/permission" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data
                    android:scheme="http"
                    android:host="instant-app-demo.firebaseapp.com"
                    android:pathPattern="/permission" />
            </intent-filter>
        </activity>
    </application>

</manifest>